
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background:#02889B; 
}
:root{
    --oq: #fff;
    --qora:#000000bd;
}
.container{
    max-width: 961px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav_list{
    display: flex;
    gap: 30px;
    align-items: center;
    a{
        color: var(--oq);
    }
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
.logo a img{
    width: 188px;
}

.btn{

    font-weight: 700;
    font-size: 16px ;
    color:  var(--oq);

    padding: 17px 35px;
    border-radius: 30px;
    /* background:  #FF693A; */
    /* border: none; */


    border: 3px solid #FF693A;

    transition: 0.5s;

    &:hover{
        /* background: #FF693A; */
        box-shadow: 0 0 0 10px #FF693A;
        text-shadow: 0 0 10px  white;
    }
}
.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 20px;
}


.div11{
    color: #fff;
    width: 100%;
    max-width: 541px;
    h1{
        font-size: 60xp;
        font-weight: 900;
        margin-top: 50px;
    }
    p{
        font-size: 25px;
        margin-top: 20px;
    }
    img{
        width: 50px;
        height: 50px;
    }
}
.div12{
    img{
        width: 347px;
        height: 387px;
    }
}

.sroll{
    width: 50px;
    height: 50px;
    background: var(--qora);
    text-align: center;
    margin: 0 auto;
    color: var(--oq);
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    position: relative;

}

.sroll::after{
    content: "";
    position: absolute;
    bottom: 18%;
    left: 47%;
    width: 3px;
    height: 15px;
    background:  var(--oq);
    transition: 0.5s;
}

.sroll:hover::after{
     bottom: 15%;
    left: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(45deg);
}
.sroll::before{
    content: "";
    position: absolute;
    bottom: 18%;
    right:47%;
    width: 3px;
    height: 15px;
    background:  var(--oq);
    transition: 0.5s;
}
.sroll:hover::before{
     bottom: 15%;
    right: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(-45deg);
}

.a1{
   display: flex;
   gap: 100px;
    color: #fff;
   width: 70%;
   margin-left: 15%;
   justify-content: space-between;
   margin-top: 100px;

}
h1{
      color: #fff;
    font-size: 56px;
    margin-left: 45%;
    }
    .a3{
       margin-top: -60px;
    }

    .q2{

        margin-top: 100px;
       h2{
         font-size: 60px;
       } 
    }
    .q{
        display: flex;
        gap: 100px;
        width: 70%;
        margin-left: 15%;
        color: #fff;
        p{
            font-size: 30px;
        }
    }
    .q3{
        margin-left: 270px;
        margin-top: -90px;
    }
    .m{
        display: flex;
        gap: 100px;
        color: #fff;
        width: 70%;
        margin-left: 15%;
       

    }
    .m7{
        display: flex;
        gap: 100px;
        color: #fff;
        width: 70%;
        margin-left: 15%;
        margin-top: 100px;

    }
    .m2{
      border: 2px solid #21dfcc56;
      width: 250px;
      height: 300px;
      background-color:#21dfcc56 ;
    }
    .m2{
      border: 2px solid #21dfcc56;
      width: 250px;
      height: 300px;
      background-color:#21dfcc56 ;
    }
    .h{
        border: 3px solid #33A4AE;
        width: 70%;
        border-radius: 20px;
        color: #fff;
        margin-left: 15%; 
        h1{

    color: #fff;
    font-size: 56px;
        }      
    }
.h1{
    display: flex;
    gap: 20px;
    margin-top: 200px;
}
.h5{
    display: flex;
    gap: 20px;
}
.h2{
    border: 2px solid #fff;
    height: 60px;
    width: 290px;
    background: #fff;
     color: black;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
.h3{
    border: 2px solid #FF693A;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: #FF693A;
    align-items: center;
    text-align: center;
   
}
.f4{
    display: flex;
    gap: 100px;
}
.f5{
    display: flex;
    gap: 100px;
}
.f{
    display: flex;
    gap: 100px;
    width: 70%;
    margin-left: 15%;
    color: #fff;
}
.f0{
    margin-left: 45%;
}
.f9{
    margin-left: 38%;
    color: #fff;
}